@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Teko:wght@300;400;500;600;700&display=swap");
/*-- common --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  overflow-x: hidden;
}
body {
  min-width: 320px;
  font-size: ;
  font-family: "Noto Sans KR", "Teko", sans-serif;
  color: #000;
}
section { position:relative; }
a {
  color: inherit;
}
img {
  width: 100%;
  display: block;
}

/* -- 공통으로 사용되는 클라스 -- */
.outer {
  border: 1px solid red;
  position: relative;
  max-width: 1920px;
  height: 100%;
  margin: auto;
}

.inner {
/*   border: 1px solid yellow;
 */  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: auto;
}

/* -- X-축 가운데 정열 -- */
.center {
  text-align: center; font-size:0;   
}/* font-size:0; - 요소들 사이의 여백이 생기는거 방지 */
.center > * {
  display: inline-block;
}

/* -- Y-축 가운데 정열 -- */
.valign {
  display: table;
  width: 100%;
  height: 100%;
}
.valign > * {
  display: table-cell;
  vertical-align: middle;
} /*(*)는 클래스 바로 밑에 첫번째 자손 선택자들(h1,ul,.lang)에게만 적용*/

.half > * { float:left; width:50%; }

.half:after, .clear_fix:after { content:""; display:block; clear:both; }

.m_only { display: none; }

h2 {
  position: relative;
  font-family: "Teko", sans-serif;
  font-size: 120px;
  font-weight: normal;
  text-align: center;
  z-index:2;
}

.white { color:#fff; }

.cont_desc p { font-size:20px; line-height:36px; margin-bottom:36px; letter-spacing: -0.06em; }

.link { display:inline-block; font-size:20px; width:auto; height:auto; background:url('../images/link_arrow.png') no-repeat right 100%; color:#b0b5e8; padding-bottom:17px; }

.link:hover, .link:focus a { color:#e4e7f8; } 



/*  -- header --  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  min-width: 320px;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Teko", sans-serif;
  font-size: 20px;
  z-index: 20;
}
header h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  width: 160px;
  height: 34px;
}
header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/header_logo.png") no-repeat;
  text-indent: -9999px;
}
.header_menu {
  border: 1px solid yellow;
}
.header_menu li { border:1px solid red;
  margin: 0 19px;
}

.lang {
  border: 1px solid blue;
  position: absolute;
  right: 0;
  top: 0;
  width: 110px;
  height: 100%;
  text-align: center;
}

.header_ham {
  display: none;
}



/* -- // #intro -- */
#intro {
  height: 780px;
  background: url("../images/intro_bg.jpg") no-repeat center/contain;
  text-align: center;
}
#intro .outer {
  background: url("../images/intro_bg_circle.png") no-repeat center/cover;
}
#intro h2 {
  font-size: 100px;
}

#intro h2:after {
  content: "";
  border: 1px solid #ccc;
  position: absolute;
  width: 450px;
  top: calc(50% - 7px);
  left: 50%;
  transform: translateX(-50%);
}
#intro p {
  color: #707070;
  font-size: 22px;
  font-weight: bold;
}

/* -- // #who we are -- */
#who_we_are { background:#000; }
#who_we_are .outer { background:url('../images/who_we_are_bg.jpg') no-repeat center top/100% auto; padding: 190px 0 120px; }
#who_we_are h2 { text-align: right; padding-right: 70px; top:-18px; }
#who_we_are .cont_desc { padding:0 40px 0 70px; }
#who_we_are .cont_desc p { color: #b4bdbe; }
#who_we_are .info_table_wrap { /*border:1px solid red;*/ width:1220px; padding-left:80px; margin:130px auto 120px; }
#who_we_are .info_table {}

#who_we_are .info_table li { border-top:1px solid rgba(255,255,255,0.3); float:left; width:540px; max-width:540px; height:100px; }
#who_we_are .info_table li:nth-child(even) { float:right; }
#who_we_are .info_table li:nth-child(n+5) { border-bottom:1px solid rgba(255,255,255,0.3); }

#who_we_are .info_table div {}
#who_we_are .info_table .table_title { color:#b9bfe1; font-size:16px; line-height:18px; padding-bottom:7px; opacity:.8; }
#who_we_are .info_table .table_desc { color:#fff; font-size:14px; line-height:18px; opacity:.8; }
#who_we_are .info_table .table_desc.indent {/* padding-left:10px;*/ }
#who_we_are .info_table .table_desc.indent:before { content:"\2022"; display:inline-block; padding-right:10px; }

#who_we_are .link_txt { color:#fff; text-align:center; font-size:20px; margin-bottom:29px; }
#who_we_are .link_area { padding-left:80px; }
#who_we_are .link_area .link { width:250px; text-align:left; margin:0 30px;}


/* -- // #leadership -- */
#leadership h2 { top:0.4em; padding-top:calc(100px - 0.4em); }
#leadership .valign > div { border:1px solid red; }
#leadership .cont_full .cont_txt { border:5px solid green; position:absolute; top:0; left:50%; height:100%; padding:0 60px; }
#leadership h3 { font-size:25px; line-height:34px; margin-bottom:24px; }
#leadership .cont_desc p { font-size: 16px; line-height: 27px; margin-bottom:0; color: #000; }

#leadership .cont_divide {}
#leadership .cont_divide_inner { width:100%; max-width:720px; }
#leadership .cont_divide .cont_txt { padding:83px 60px; }

#leadership .cont_l { background:#ececec; }
#leadership .cont_l .cont_divide_inner { float:right; }

#leadership .cont_r { background:#dfdfdf; }


/* -- // #CSR -- */
#csr { height:780px; }
#csr:after { content:""; display:block; position:absolute;top:0; left:50%; width:50%; height:100%; background:rgba(250,250,250,0.8); }

#csr h2 { position:absolute;top:100px;left:0; width:100%; }
#csr .outer { background:url('../images/csr_bg.jpg') no-repeat center/contain; }
#csr .cont_txt {/*  border:1px solid red;  */position:absolute; top:0; left:50%;width:50%; z-index:1; }
#csr .cont_desc { padding:0 60px 0 117px; }
#csr .cont_desc a { color:#c01b40; text-decoration:underline; white-space:nowrap; }


/* -- // #IR -- */
#ir { background:#1c1c1c; padding:104px 0 114px; }
#ir h2 {}
#ir .ir_list_wrap {}
#ir .inner { border:1px solid yellow; max-width:1140px; }

#ir .ir_list { margin:54px 0 70px; }

#ir .ir_list li { width:20%; border-bottom:3px solid #2a2a2a; font-size:20px; color:rgba(255,255,255,0.6); }
#ir .ir_list li:hover, #ir .ir_list li.active { color:#fff; border-color:#fff; }

#ir .ir_list li button { border:0; margin:0; padding:18px 0; background:none; color:inherit; font-size:inherit; cursor:pointer; }

#ir .financial {}
#ir .sub_list { float:left; margin-top:52px; }
#ir .list_cont { float:left; width:675px; margin-left:50px; }

#ir .sub_list li { margin-bottom:15px; }
#ir .sub_list a { display:inline-block; min-width:150px; background-color:#444; border:2px solid #444; padding:8px 15px; text-align:center; border-radius:50vh; }
#ir .sub_list li:hover a, #ir .sub_list li.active a { color:#fff; border-color:#fff; }


/* -- // #RECRUIT -- */
#recruit { height:770px; background:#e7e7e7; }
#recruit .outer { background:url('../images/recruit_bg.png') no-repeat center bottom/cover; }
#recruit .cont_txt { border:1px solid red; padding:58px 30px 0 0; }
#recruit h2 {}
#recruit .cont_desc { border:1px solid red; padding-right:140px; margin-bottom:56px; }
#recruit .cont_desc p {}
#recruit .link {}
#recruit .link:hover, #recruit .link:focus {}



/*  -- @media 반응형  1440px -- */
@media (max-width: 1440px) {
/* -- common --*/
h2 { font-size: 7vw; }
.cont_desc p { font-size: 1.4vw; line-height: 2.5vw; margin-bottom: 2.5vw; }

.link { font-size:1.4vw; padding-bottom:1.2vw; }

    
/* -- header --*/ 
    
  header {
    height: 7.6vw;
    font-size: 1.4vw;
  }
  header h1 {
    left: 2.8vw;
  }
  .header_menu li {
    margin: 0 1.3vw;
  }

  .lang {
    width: 8vw;
  }

  /* -- intro -- */
  #intro {
    height: 54vw;
  }
  
  #intro h2:after {
    width: 31vw;
  }
  #intro p {
    font-size: 1.5vw;
  }
    
/* -- // #who we are -- */

#who_we_are .outer { padding: 14vw 0 8.5vw; }
#who_we_are h2 { padding-right: 5.5vw; top:-0.35vw; }
#who_we_are .cont_desc { padding:0 2.8vw 0 4.7vw; }

#who_we_are .info_table_wrap { width:85vw; padding-left:5.6vw; margin:9.5vw auto 8.3vw; }

#who_we_are .info_table li { width:37.5vw; max-width:37.5vw; height:7vw; }

#who_we_are .info_table .table_title { font-size:1.11vw; line-height:1.25vw; padding-bottom:0.5vw; }

#who_we_are .info_table .table_desc { font-size:0.97vw; line-height:1.25vw; }

#who_we_are .link_txt { font-size:1.4vw; margin-bottom:2vw; }
#who_we_are .link_area { padding-left:5.6vw; }
#who_we_are .link_area .link { width:17vw; margin:0 2vw;}

/* -- // #leadership -- */
#leadership h2 { padding-top:calc(7.3vw - 0.245em); }
#leadership .cont_desc p { font-size:1.11vw; line-height:1.9vw; }


/* -- // #CSR -- */
#csr { height:54.2vw; }
#csr h2 { top:7.2vw; }
#csr .cont_desc { padding:0 4.2vw 0 8.13vw; }


/* -- // #IR -- */
#ir { padding:7.2vw 0 7.9vw; }
#ir .inner { max-width:79.2vw; }

#ir .ir_list { margin:3.75vw auto 4.86vw; }
#ir .ir_list li { border-width:0.2vw solid #2a2a2a; font-size:1.4vw; }
#ir .ir_list li button { padding:1.25vw 0; }

#ir .sub_list { margin-top:3.6vw; }
#ir .list_cont { width:47vw; margin-left:8vw; }

#ir .sub_list li { margin-bottom:1vw; }
#ir .sub_list a { min-width:10.4vw; border:0.21vw solid #444; padding:0.56vw 1.04vw; font-size:1.05vw; }

}


/*  -- @media 반응형 1024px -- */
@media (max-width: 1024px) {
  header {
    height: 78px;
    font-size: 14px;
  }
  header h1 {
    left: 28px;
  }
  .header_menu li {
    margin: 0 14px;
  }
  .lang {
    width: 80px;
  }


/* -- // #who we are -- */
#who_we_are .info_table li { height:71px; }

#who_we_are .info_table .table_title { font-size:11px; line-height:13px; padding-bottom:5px; }

#who_we_are .info_table .table_desc { font-size:10px; line-height:13px; }

#who_we_are .link_txt { font-size:14px; margin-bottom:20px; }


/* -- // #leadership -- */
#leadership h2 { padding-top:calc(7.3vw - 0.245em); }

#leadership .cont_desc p { font-size:11px; line-height:19px; }

}



/*  -- @media 반응형 768px -- */
@media (max-width: 768px) {
  /* -- common -- */
  .m_only { display: block; }
    
.inner {
  border: 1px solid yellow;
padding:14.86vw 8.33vw 0;
}
    
.half > * { float:none; width:100%; }
    
h2 {font-size: 13vw;}
    
.cont_desc p { font-size: 3.2vw; line-height: 5.7vw; margin-bottom: 5.7vw; }

.link { font-size:3.2vw; padding-bottom:3.3vw; background-size:auto 8px; }
#who_we_are .center { text-align: left;}

#who_we_are .link_area { padding-left:80px; }
#who_we_are .link_area .link { width:250px; text-align:left; margin:0 30px;}


  /* -- header -- */
  header {
    height: 12.5vw;
  }
  .header_menu {
    display: none;
  }

  header h1 {
    /* border: 2px solid green; */
    left: 0;
    right: 0;
    width: 37vw;
    height: 6.7vh;
    margin: auto;
  }
  header h1 a {
    background: url("../images/header_logo-mo.png") no-repeat;
    background-size: contain;
  }

  .lang {
    width: 16.7vw;
    font-size: 4.2vw;
  }

  /* -- mobile Navmenu -- */
  .header_ham {
    display: block;
    width: 16vw;
    height: 12vw;
    background: url("../images/header_ham-mo.png") no-repeat center/contain;
    cursor: pointer;
  }

  .nav_move {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(22, 22, 22, 0.95);
    font-family: "Noto Sans KR";
    padding-top: 16vw;
  }
  .nav_title {
    color: #fff;
    font-size: 4.5vw;
    font-weight: bold;
  }

  .nav_menu {
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    width: 75vw;
    margin: 7vw auto;
    padding: 3vw 0;
  }
    
  .nav_menu li { }
    
  .nav_menu a {
    display: block;
    color: #aaa;
    font-size: 3vw;
    font-weight: bold;
    padding: 5vw 0;
  }

  .btn_close {
    border: 1px soild red;
    position: fixed;
    top: 0;
    left: 0;
    width: 17vw;
    height: 12.5vw;
    text-indent: -9999px;
    background: url("../images/btn-close-mo.png") no-repeat center/contain;
    cursor: pointer;
  }

  /* -- // #intro -- */
  #intro {
    height: 112.5vw;
    background: url("../images/intro_bg-m.jpg") no-repeat center bottom/cover;
    text-align: center;
  }
  #intro .outer { background: none; }
    
/*
  #intro h2 {
    font-size: 13vw;
    margin-top: 100px;
  }
*/

  #intro h2:after { width: 59vw; }
    
  #intro p { font-size: 3.3vw; }

/* -- // #who we are -- */
#who_we_are .outer { padding:0; background-image:url('../images/who_we_are_bg-m.jpg'); }
#who_we_are .inner { padding-bottom:27.6vw; }
#who_we_are h2 { text-align: center; padding-right:0; top:0; }
#who_we_are .cont_desc { padding:32vw 1.4vw 0 0; }
    
#who_we_are .info_table_wrap { width:100%; padding-left:0; margin:12.5vw auto 13.75vw; }
    
#who_we_are .info_table li { float:none; width:100%; max-width:100%; height:auto; padding:2vw 3vw; }
#who_we_are .info_table li:nth-child(even) { float:none; }
#who_we_are .info_table li:nth-child(n+5) { border-bottom:none; }

#who_we_are .info_table .table_title { font-size:2.8vw; line-height:3.6vw; padding-bottom:1.11vw; }
    
#who_we_are .info_table .table_desc { font-size:2.8vw; line-height:3.6vw; }

#who_we_are .info_table .table_desc.indent:before { padding-right:1.7vw; }

#who_we_are .link_txt { text-align:left; font-size:3.2vw; margin-bottom:3.2vw; padding-left:4.2vw;}
#who_we_are .link_area { padding-left:4.2vw; }
#who_we_are .link_area .link { width:27.3%; margin:0 6% 0 0;}
#who_we_are .link_area .link:nth-child(3) { margin-right:0; }


/* -- // #leadership -- */
#leadership { background-color:#ececec; }
#leadership h2 { padding-top:calc(14.6vw - 0.245em); }
#leadership .inner { padding-top:0; }
#leadership .cont_full .cont_txt { position:static; padding:5.8vw 0 11.7vw; }
#leadership h3 { font-size:4.5vw; line-height:6.4vw; margin-bottom:3.75vw; }
#leadership .cont_desc p { font-size:2.5vw; line-height:5vw; }

#leadership .cont_l { background:none; }
#leadership .cont_l .cont_divide_inner { float:none; }

#leadership .cont_r { background:none; }


/* -- // #CSR -- */
#csr { height:auto; }
#csr:after { display:none; }
#csr h2 { position:relative; top:0; }
#csr .outer { background:url('../images/csr_bg.jpg') no-repeat center bottom/contain; }
#csr .cont_txt { position:static; width:100%; height:auto; }
#csr .cont_desc { padding:6.1vw 0 35.7vw; }


/* -- // #IR -- */
#ir { padding:16.67vw 0 ; }
#ir h2 {}
#ir .ir_list_wrap { }
#ir .inner { border:1px solid yellow; max-width:100vw; padding:3vw 2vw 0; }

#ir .ir_list { margin:1vw auto 1vw; }

#ir .ir_list li { border-width:0.35vw; font-size:3vw; }

#ir .sub_list { float:none; margin-top:0; }
#ir .list_cont { float:none; width:100%; margin-left:0; }

#ir .sub_list ul { text-align:center; }
#ir .sub_list li { display:inline-block; width:26.4vw; margin-bottom:5vw; }
#ir .sub_list a { width:25vw; border-width:0.4vw; padding:2vw 0; font-size: 2.8vw; }




    

    

    









    
    
    
    
    
    
    
    
    
























